{% extends 'frontend/index.html' %}
{% load static %}

{% block content %}
    <section class="header11 cid-qv7jHqwEI9 mbr-fullscreen mbr-parallax-background" id="header11-5p" data-rv-view="9263">

    <!-- Block parameters controls (Blue "Gear" panel) -->

    <!-- End block parameters -->

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
    </div>
    <div class="container align-left">
        <div class="media-container-column mbr-white col-md-12">

            <h1 class="mbr-section-title py-3 mbr-fonts-style display-1"><strong>Just Don't Space Out</strong>
            </h1>
            <p class="mbr-text py-3 mbr-fonts-style display-5">
                A speech to text program to help transcribe your online meetings!</p>
            <div class="mbr-section-btn py-4">
                <a class="btn btn-md btn-white-outline display-4"
                                 href="#">LEARN MORE</a>
            </div>
        </div>
    </div>


</section>


<section class="mbr-section content4 cid-qxVpIJ8WtD" id="content4-na" data-rv-view="8245">


    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    CLASSES</h2>


            </div>
        </div>
    </div>

    <div class="container">
        {% for user_class in classes %}
            {{ user_class }}
        {% endfor %}
    </div>
</section>
{% endblock content %}

{% block js %}
{% endblock js %}