[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
altgraph = "==0.17"
beautifulsoup4 = "==4.9.3"
cachetools = "==4.2.0"
certifi = "==2020.12.5"
chardet = "==3.0.4"
comtypes = "==1.1.7"
fbs = "==0.9.0"
future = "==0.18.2"
google = "==3.0.0"
google-api-core = "==1.23.0"
google-auth = "==1.24.0"
google-cloud = "==0.34.0"
google-cloud-speech = "==2.0.1"
googleapis-common-protos = "==1.52.0"
grpcio = "==1.34.0"
idna = "==2.10"
keyring = "==21.5.0"
libcst = "==0.3.15"
macholib = "==1.14"
mypy-extensions = "==0.4.3"
pefile = "==2019.4.18"
proto-plus = "==1.13.0"
protobuf = "==3.14.0"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pyinstaller = "==3.4"
pyinstaller-hooks-contrib = "==2020.10"
pytz = "==2020.4"
pyuic5-tool = "==0.0.1"
pywin32 = "==300"
pywin32-ctypes = "==0.2.0"
pywinauto = "==0.6.8"
requests = "==2.25.0"
rsa = "==4.6"
six = "==1.15.0"
soupsieve = "==2.1"
typing-extensions = "==3.7.4.3"
typing-inspect = "==0.6.0"
urllib3 = "==1.26.2"
PyQt5 = "==5.15.2"
PyAudio = "*"
PyQt5-sip = "==12.8.1"
PyQtWebEngine = "==5.15.2"
PyYAML = "==5.3.1"

[requires]
python_version = "3.6"
